* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
nav{
    background: lightblue;
    height: 100px;
    width: 100%;
}

.enlace{
    position: absolute;
    padding: 10px 30px;
}
.logito2{
    float: right;
    margin-right: 20px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: black;
    font-size: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background: wheat;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: azure;
    float: left;
    line-height: 50px;
    margin-left: 10px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
section{
    background: url(https://media.giphy.com/media/Q5RjtPsU4Ds5ByAVI9/giphy.gif) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}
@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: grey;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: bisque;
    }
    #check:checked ~ul{
        left: 0;
    }
}
.boton {
    padding: 10px 20px;
    background-color: gray;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
}

.boton:hover {
    background-color: beige;
}

.boton-centrado {
    text-align: center;
    margin-top: 20px;
}

.boton-izquierda {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.boton-derecha {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
footer {
    background-color: lightblue;
    color: black;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
}
.redes-sociales {
    margin-top: 20px;
}

.redes-sociales a {
    text-decoration: none;
    color: black;
    margin: 0 10px;
    font-size: 24px;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}

.redes-sociales a:hover {
    color: beige;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
.titulo {
    text-align: center;
    font-size: 35px;
    margin-top: 30px;
    font-weight: bold;
    color: darkgoldenrod; 
}
.imagen-antes-del-boton {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; 
    width: 35%; 
}

.boton-diccionario {
    text-align: center; 
    margin-top: 40px; 
}


.boton {
    padding: 20px 40px; 
    background-color: aqua;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out; 
    cursor: pointer; 
}

.boton:hover {
    background-color: beige;
}